[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "*"
dj-database-url = "*"
django = "*"
django-avatar = "*"
django-registration-redux = "*"
django-widget-tweaks = "*"
geocoder = "*"
pillow = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
