Django
Pillow
certifi
chardet
click
cloudinary
decorator
dj-database-url
django-appconf
django-avatar
django-registration-redux
django-widget-tweaks
future
geocoder
idna
mock
pbr
python-decouple
pytz
ratelim
requests
six
urllib3
